html{
  scroll-behavior:smooth;
}
  body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background: #f5f7fa;
    color: #333;
    background-image: url('light tech background (2).avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  
  header {
    background: #2e3a59;
    color: white;
    padding: 2mm;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    
  }
  
  nav a {
    margin: 0 10px;
    color: white;
    text-decoration-line: underline;
  }
  
  section {
    padding: 40px 20px;
    border-bottom: 1px solid #1a0707;

  }
  
  h2 {
    color: #2e3a59;
  }
  
  ul li {
    margin-bottom: 1px;
  }
  h4{
    font-weight: normal;
  }
  
  footer {
    text-align: center;
    padding: 20px;
    background: #2e3a59;
    color: white;
  }
  